.login-container-box {
    padding: 10% 0;
    .mat-card {
        background-color: #FAFAFA;
        .user-login {
            .title{
                margin-top: 0;
            }
            .md-input-container-box {
                display: block;
            }
            td {
                border-top: none; 
            }
        } 
    }
}