<div class="container">
      <div class="login-container-box">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
        <md-card>
          <form class="user-login" #loginForm="ngForm" (ngSubmit) = "onLogin();">
            <h3 class="text-center title">Login!</h3>
            <table class="table" cellspacing="0">
              <tr>
                <td>
                  <md-input-container class="md-input-container-box">
                    <input required email #loginModelemail autocomplete="off" mdInput placeholder="Email" type="email" name="email" [(ngModel)]="loginModel.email">
                  <md-error  *ngIf="!loginModelemail.valid" class="md-input-message-animation">
                    Invalid email
                </md-error>
                  </md-input-container>
                </td>
              </tr>
              <tr>
                <td>
                  <md-input-container class="md-input-container-box">
                    <input required #loginModelpassword autocomplete="off" type="password" mdInput placeholder="Password" name="password" [(ngModel)]="loginModel.password">
                  </md-input-container>
                </td>
            </tr>
                <tr>
                <td>
                  <button [disabled]="loginForm.invalid" md-raised-button color="primary" value="Login" >Login</button>
                  <button class="pull-right" md-raised-button color="warn" value="Forget Password" >Forget Password?</button>
                </td>
            </tr>
            </table>
          </form>
        </md-card>
      </div>
    </div>
  </div>