<div class="user-create-container">
  <md-card class="container page-title-panel">
    <h3>Create user</h3>
  </md-card>
  <md-card class="container">
    <form (focusout)="onFocusOutFromForm();" [formGroup]="userForm" (ngSubmit)="onSubmit();" novalidate class="user-createform">
      <div class="row container">

        <div class="col-sm-4">

          <div class="form-field title-field-box">
            <md-input-container class="md-input-container-box">
              <input required formControlName="name" autocomplete="off" mdInput placeholder="Name" type="text">
              <md-error *ngIf="formErrors.name" class="md-input-user-animation">
                {{ formErrors.name }}
              </md-error>
            </md-input-container>
          </div>
          <div class="form-field title-field-box">
            <md-input-container class="md-input-container-box">
              <input required email formControlName="email" autocomplete="off" mdInput placeholder="Email" type="text">
              <md-error *ngIf="formErrors.email" class="md-input-user-animation">
                {{ formErrors.email }}
              </md-error>
            </md-input-container>
          </div>
          <div class="form-field">
            <div class="md-input-container-box">
              <button [disabled]="userForm.invalid" md-raised-button color="warn">Save</button>
            </div>
          </div>
        </div>

        <div class="col-sm-offset-2 col-sm-4">
          <div class="row">
            <div class="form-field title-field-box">
              <md-input-container class="md-input-container-box">
                <input required formControlName="password" autocomplete="off" mdInput placeholder="Password" type="password">
                <md-error *ngIf="formErrors.password" class="md-input-user-animation">
                  {{ formErrors.password }}
                </md-error>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>

    </form>
  </md-card>
</div>