<div class="user-list-container">
  <md-card class="container page-title-panel">
    <h3 class="pull-left">Users</h3> <button routerLink="/admin/users/create" class="pull-right" md-raised-button color="warn">Create user</button>
  </md-card>
  <md-card class="container">
    <table class="table table-striped">
      <tr class="table-row">
        <th class="table-row-header" *ngFor="let prop of users[0]|keys">{{ prop | uppercase }}</th>
      </tr>
      <tr *ngFor="let user of users" class="table-row">
        <td *ngFor="let prop of users[0]|keys" class="table-td">{{ ( prop === 'status_id' ) ? user[prop] === '1' ? 'Active' : 'De-Active ' : user[prop] }}</td>
      </tr>
    </table>
  </md-card>
</div>