<div class="container">
  <div class="register-container-box">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
      <md-card>
        <form (focusout)="onFocusOutFromForm();" class="user-register" [formGroup]="registerForm" (ngSubmit)="onRegister();" novalidate>
          <h3 class="text-center title">Register!</h3>
          <table class="table" cellspacing="0">
            <tr>
              <td>
                <md-input-container class="md-input-container-box">
                  <input  formControlName="name" autocomplete="off" mdInput placeholder="Name" type="text">
                  <md-error  *ngIf="formErrors.name" class="md-input-message-animation">
                  {{ formErrors.name }}
                </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="md-input-container-box">
                  <input autocomplete="off" mdInput placeholder="Email" type="email" formControlName="email">
                  <md-error  *ngIf="formErrors.email" class="md-input-message-animation">
                  {{ formErrors.email }}
                </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="md-input-container-box">
                  <input autocomplete="off" type="password" mdInput placeholder="Password" formControlName="password">
                    <md-error  *ngIf="formErrors.password" class="md-input-message-animation">
                  {{ formErrors.password }}
                </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="md-input-container-box">
                  <input (keypress)="onKeyPress();" autocomplete="off" type="password" mdInput placeholder="Confirm Password" formControlName="confirmPassword">
                  <md-error  *ngIf="formErrors.confirmPassword" class="md-input-message-animation">
                  {{ formErrors.confirmPassword }}
                </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <button [disabled]="registerForm.invalid" md-raised-button color="primary" value="register">Register Now!</button>
                <a class="pull-right" md-raised-button color="warn" routerLink="/users/login">Login</a>
              </td>
            </tr>
          </table>
        </form>
      </md-card>
    </div>
  </div>
</div>