<h2 md-dialog-title>{{ data.title }}</h2>
<md-dialog-content>{{ data.message }}</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button color="warn" md-button [md-dialog-close]="false">No</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <span style="flex: 1 1 auto;"></span>
  <button md-raised-button color="primary" md-button [md-dialog-close]="true">Yes</button>
</md-dialog-actions>