<header class="app-header">
    <md-toolbar color="warn">
        <a *ngIf="authService.isLoggedIn" class="nav-menu" md-button routerLink="/admin/dashboard">Dashboard</a>
        <span *ngIf="!authService.isLoggedIn" class="nav-menu"md-button >Welcome to Mozzo Admin Panel</span>
        <span style="flex: 1 1 auto;"></span>
        <button class="nav-menu" *ngIf="authService.isLoggedIn" md-button>{{ authService.loggedInUser.name }}</button>
        <a class="nav-menu" *ngIf="!authService.isLoggedIn" md-button routerLink= "/users/login">Login</a>
        <a class="nav-menu"*ngIf="!authService.isLoggedIn" md-button routerLink="/users/register">Register</a>
        <button class="nav-menu"*ngIf="authService.isLoggedIn" md-button (click)="logout()">Logout</button>
    </md-toolbar>
</header>