<div class="message-create-container">
  <md-card class="container page-title-panel">
    <h3>Create Message</h3>
  </md-card>
  <md-card class="container">
    <form (focusout)="onFocusOutFromForm();" [formGroup]="messageForm" (ngSubmit)="onSubmit();" novalidate class="message-createform">
      <div class="row container">
        <div class="col-sm-4">
          <div class="form-field title-field-box">
            <md-input-container class="md-input-container-box">
              <input required formControlName="title" autocomplete="off" mdInput placeholder="Title" type="text">
              <md-error *ngIf="formErrors.title" class="md-input-message-animation">
                {{ formErrors.title }}
              </md-error>
            </md-input-container>
          </div>
          <div class="form-field">
            <md-select formControlName="status_id" required placeholder="Status" floatPlaceholder="never" class="mat-input-wrapper">
              <md-option *ngFor="let status of messageStatuses" [value]="status.value">
                {{ status.name }}
              </md-option>
            </md-select>
            <md-error *ngIf="formErrors.status_id && !messageForm.invalid" class="md-input-message-animation mat-input-subscript-wrapper">
              {{ formErrors.status_id }}
            </md-error>
          </div>
          <div class="form-field">
            <div class="md-input-container-box">
              <button [disabled]="messageForm.invalid" md-raised-button color="warn">Save</button>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-4">
          <div class="row">
            <md-input-container class="md-input-container-box">
              <textarea required mdInput placeholder="Description" formControlName="description" hintLabel="Enter description related to post here"
                autocomplete="off"></textarea>
              <md-error *ngIf="formErrors.description" class="md-input-message-animation">
                {{ formErrors.description }}
              </md-error>
            </md-input-container>
          </div>
        </div>
      </div>

    </form>
  </md-card>
</div>