.message-create-container {
    .page-title-panel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .message-createform {
        background-color: #FAFAFA;
        padding: 30px 0;
        .title-field-box{ padding-bottom: 30px;}
        .md-input-container-box {
            display: block;
        }
        td {
            border-top: none; 
        }
    }
}