<div class="row-fluid">
    <div class="col-sm-12 dashboard-panel">
        <md-grid-list cols="4" rowHeight="1:1">
            <md-grid-tile class="color-message dashboard-panel-link" routerLink="/admin/messages/list">
                <strong class="text-center tile-title">Messages</strong>
                <md-chip-list>
                    <md-chip color="accent" selected="true">2</md-chip>
                </md-chip-list>
            </md-grid-tile>
            <md-grid-tile class="color-users dashboard-panel-link" routerLink="/admin/users/list">
                <strong class="text-center tile-title">Users</strong>
                <md-chip-list>
                    <md-chip color="accent" selected="true">2</md-chip>
                </md-chip-list>
            </md-grid-tile>
            <md-grid-tile class="color-emails dashboard-panel-link">
                <strong class="text-center tile-title">Emails</strong>
                <md-chip-list>
                    <md-chip color="accent" selected="true">2</md-chip>
                </md-chip-list>
            </md-grid-tile>
            <md-grid-tile class="color-posts dashboard-panel-link">
                <strong class="text-center tile-title">Posts</strong>
                <md-chip-list>
                    <md-chip color="accent" selected="true">2</md-chip>
                </md-chip-list>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>