.dashboard-panel{
    margin-top: 20px;
    border-bottom: 2px solid #f44336;
    padding-bottom: 20px;
    .tile-title{
        color: #fff;
        font-size: 30px;
        margin-right: 10Px;
    }
    md-grid-tile.color-message {
        background: #DD4B39;
    }
    md-grid-tile.color-users {
        background: #34465D;
    }
    md-grid-tile.color-emails {
        background: #02B875;
    }
    md-grid-tile.color-posts {
        background: #3B5999;
    }
    .mat-figure {
        strong.text-center {

        }
    }

    &-link {
       cursor:pointer; 
    }
}