<div class="message-list-container">
  <md-card class="container page-title-panel">
    <h3 class="pull-left">Messages</h3> <button routerLink="/admin/messages/create" class="pull-right" md-raised-button color="warn">Create Message</button>
  </md-card>
  <md-card class="container">
    <table mdSort (mdSortChange)="sortData($event)" class="table table-striped">
      <tr class="table-row">
        <th md-sort-header="{{ prop }}" class="table-row-header" *ngFor="let prop of messages[0]|keys">{{ prop | uppercase }}</th>
      </tr>
      <!--<tr class="table-row">
        <th class="table-row-header" md-sort-header="id">ID</th>
        <th class="table-row-header" md-sort-header="title">TITLE</th>
        <th class="table-row-header">DESCRIPTION</th>
        <th class="table-row-header" md-sort-header="status_id">STATUS_ID</th>
        <th class="table-row-header" >CREATED</th>
        <th class="table-row-header" >MODIFIED</th>
        <th class="table-row-header" >USERNAME</th>
      </tr>-->
      <tr (click)="onRowClick(message);" *ngFor="let message of messages" class="table-row">
        <td *ngFor="let prop of messages[0]|keys" class="table-td">{{ ( prop === 'status_id' ) ? message[prop] === '1' ? 'Active' : 'De-Active ' : message[prop] }}</td>
      </tr>
    </table>
  </md-card>
</div>